<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
        <link rel="stylesheet" href="licenca.css" />
   
  </head>
  <body>
    <form action="">
        <div class="titulo">
            API RBI - licença
            <h1>Licença</h1>
            <p>Esta versão "Beta" possui direito de uso irrestrito
               para todos usuários que acessarem, solicitamos apenas
                que quaisquer suspeitas de erros ou indicações de melhoria
                sejam endereçadas para o e-mail: fabio.subtil@priner.com.br</p>
            
            Versão: 0.01
            <br>
            Revisão: 0
            <br>
            Sistema operacional: Windows 10
            <br>

            <div class="barra-horizontal"></div>
        </div>
      
      <p>
        <a class="btn-linl" href="./index.html">Voltar</a>
      </p>  
       
    </form>
  </body>
</html>