{% extends "base.html" %}

{% load static %}

{% block rbi %}

  <head>
    
    <!-- Meta tags Obrigatórias -->
   
    <script src="{% static 'index.js' %}" defer></script>
    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css" media="screen" >

  </head>
  <body>

     <!-- Menu superior -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">    
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cadastro
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modal1">Nova Empresa</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modal2">Nova Área</a>                   
                  <!--<a class="dropdown-item" href="{% url 'cadastroarea' %}">Nova Área</a>-->
                  <a class="dropdown-item" href="{% url 'cadastroequip' %}">Novo Equipamento</a>
                  <a class="dropdown-item" href="{% url 'cadastrocomponente' %}">Novo Componente</a>
                  <a class="dropdown-item" href="{% url 'cadastroproposta' %}">Nova Proposta</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modal2">Fluídos</a>
                    </div>
            </li>         
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Visualizar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Risco</a>
                  <a class="dropdown-item" href="#">Gráfico</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Memória de cálculo</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ferramentas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Calculadora</a>
                    <a class="dropdown-item" href="#">Importar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Configurações</a>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ajuda
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./licenca.html">Sobre a licença</a> 
                        <a class="dropdown-item" href="./manual.html">Manual</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Registro</a>
                    </div>
            </li>
          </ul>
        </div>
    </nav>

    <!-- Modais -->

    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-body">                         
                        <form action="/cadastroempresa/" method="post">
                            {% csrf_token %}
                                                       
                            <label for="Nome">Nome da empresa: </label>
                            <input id="nome" type="text" name="nome" value="{{ current_nome }}">
                            <input type="submit" value="OK">
                        </form>                                                                                
                    </div>
                </div>                                
            </div>
        </div>
    </div>

    <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-body">                         
                        <form method="post" action="/cadastroarea/" enctype="multipart/form-data" height="100px" width="auto">
                            {% csrf_token %}
                            <table>
                                {{form.as_table}}
                            </table>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>                                                                                   
                    </div>
                </div>                                
            </div>
        </div>
    </div>





    <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-body">                         
                        
                        <p>Table 6.1M Fluids and Fluid Properties for AST Consequence Analysis</p>
                        <p>Table 3.A.3.1 List of Representative Fluids Available for Level 1 Consequence Methodology</p>
                        

                    </div>
                </div>                                
            </div>
        </div>
    </div>
    

    <div class="container-md  style=" >
        <div class="row g-0 p-0"  >
            <div class="col-1.1 p-0">
                <div class="card">    
                                 
<!-- Seção de navegação - Explore -->

                    <div class="card-header">Navegação</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for empresa in rbi %}
                                    <li class="list-group-item" style="line-height: 0.8">
                                        <a
                                            class="list-group list-group-flush"
                                            data-toggle="collapse"
                                            href="#collapse-{{empresa.id}}"
                                            role="button"
                                            aria-expanded="false"
                                            aria-controls="collapse-{{empresa.id}}"
                                            >{{ empresa.nome }}
                                        </a>
                                        <!-- <a
                                            class="list-group list-group-flush"
                                            data-toggle="collapse"
                                            href="{% url 'empresa-info' empresa.nome %}"
                                            role="button"
                                            aria-expanded="false"
                                            aria-controls="collapse-{{empresa.id}}"
                                            >{{ empresa.nome }}
                                        </a> -->
                                        <ul class="list-group list-group-flush">
                                            <div class="collapse" id="collapse-{{empresa.id}}">
                                                {% for area in empresa.areas.all %}
                                                    <li class="list-group-item" style="line-height: 0.8">
                                                        <a
                                                            class="list-group list-group-flush"
                                                            data-toggle="collapse"
                                                            href="#collapse-{{empresa.id}}-{{area.id}}"
                                                            role="button"
                                                            aria-expanded="false"
                                                            aria-controls="collapse-{{empresa.id}}-{{area.id}}"
                                                            >{{ area.nome }}
                                                        </a>
                                                        <ul class="list-group list-group-flush">
                                                            <div class="collapse" id="collapse-{{empresa.id}}-{{area.id}}">
                                                                                                                              
                                                                {% for tag in area.area_tag.all %}
                                                                    <li class="list-group-item" style="line-height: 0.8">
                                                                        <a
                                                                            class="list-group list-group-flush tag-link"
                                                                            href="{% url 'all-forms' empresa.id area.id tag.id %}"
                                                                            >{{ tag.tag }}
                                                                        </a>
                                                                        <a
                                                                            class="list-group list-group-flush"
                                                                            data-toggle="collapse"
                                                                            href="#collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}"
                                                                            role="button"
                                                                            aria-expanded="false"
                                                                            aria-controls="collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}"
                                                                            >Componentes
                                                                        </a>

                                                                        <ul class="list-group list-group-flush">
                                                                            <div
                                                                                class="collapse"
                                                                                id="collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}"
                                                                                >

                                                                                {% for componente in tag.area_tag1.all %}
                                                                                    <li class="list-group-item" style="line-height: 0.8">
                                                                                        <a
                                                                                            class="list-group list-group-flush"
                                                                                            data-toggle="collapse"
                                                                                            href="#collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}-{{componente.id}}"
                                                                                            role="button"
                                                                                            aria-expanded="false"
                                                                                            aria-controls="collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}-{{componente.id}}"
                                                                                            >{{ componente.componente }}
                                                                                        </a>
                                                                                        <a
                                                                                            class="list-group list-group-flush"
                                                                                            data-toggle="collapse"
                                                                                            href="#collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}-{{componente.id}}"
                                                                                            role="button"
                                                                                            aria-expanded="false"
                                                                                            aria-controls="collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}-{{componente.id}}"
                                                                                            >propostas
                                                                                        </a>
                                                                                        <ul class="list-group list-group-flush">
                                                                                            <div
                                                                                                class="collapse"
                                                                                                id="collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}-{{componente.id}}"
                                                                                                >
                                                                                                {% for proposta in componente.tag_componente.all %}
                                                                                                    <li class="list-group-item" style="line-height: 0.8">
                                                                                                        <a
                                                                                                            class="list-group list-group-flush"
                                                                                                            data-toggle="collapse"
                                                                                                            href=""
                                                                                                            role="button"
                                                                                                            aria-expanded="false"
                                                                                                            aria-controls="collapse-{{empresa.id}}-{{area.id}}-{{tag.id}}-{{componente.id}}-{{proposta.id}}"

                                                                                                            >{{ proposta.numeroproposta }}
                                                                                                        </a>                                                                                                       
                                                                                                    </li>
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        </ul>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </ul>
                                                                     </li>
                                                                {% endfor %}
                                                            </div>
                                                        </ul>
                                                    </li>
                                                {% endfor %}
                                            </div>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul> 
                        </div>
                    </div>
                </div>
            </body>

{% endblock %}