<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="log.css" />
  </head>
  <body>
    <form action="">
        <div class="titulo">
            API RBI - Versão Beta - By Subtil
            <h1>Faça o seu login</h1>
            <div class="barra-horizontal"></div>
        </div>
      <div class="campo-input">
        <label for="email">Seu e-mail*</label>
        <input type="email" id="email" />
      </div>
      <div class="campo-input">
        <label for="password">Sua senha*</label>
        <input type="password" id="password" />
      </div>
      <p>
        <a class="btn-linl" href="./index.html">Iniciar</a>
      </p>  
        <p>
          Esqueceu sua senha?
          <a href="./index.html">Clique aqui!</a>
        </p>
    </form>
  </body>
</html>