<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    
    <link rel="stylesheet" href="manual.css" />
   
  </head>
  <body>
    <form action="">
        <div class="titulo">
            API RBI - Manual
            <div class="barra-horizontal"></div>
            <h1>O manual deste software está em desenvolvimento</h1>
                       
        </div>
      
      <p>
        <a class="btn-linl" href="./index.html">Voltar</a>
      </p>  
       
    </form>
  </body>
</html>